.vscode/*
#!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.egg-info/
commands.txt

#Specific Files
commands.txt

#Folders
build/
dist/
__pycache__/