[tool.poetry]
name = "klib"
version = "1.0.4"
description = "Customized data preprocessing functions for frequent tasks."
authors = ["Andreas Kanz <andreas@akanz.de>"]
license = "MIT"
readme = "README.md"

packages = [{ include = "klib", from = "src" }]
include = [{ path = "tests", format = "sdist" }]

[tool.poetry.dependencies]
Jinja2 = "^3.0.3"
matplotlib = "^3.0.3"
numpy = "^1.16.3"
pandas = "^1.2.0"
python = ">=3.8.0,<3.12"
scipy = "^1.1.0"
seaborn = "^0.11.2"

[tool.poetry.dev-dependencies]
black = "^22.8.0"
data-science-types = "^0.2.23"
flake8 = "^5.0.4"
ipykernel = "^6.6.0"
mkdocs = "^1.2.3"
mypy = "^0.971"
pre-commit = "^2.20.0"
pydocstyle = "^6.1.1"
pylint = "^2.12.2"
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
reorder-python-imports = "^3.8.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
target_version = ['py37', 'py38', 'py39', 'py310']

[tool.isort]
profile = "black"
skip_gitignore = true
force_single_line = true

[tool.pylint.reports]
output-format = "colorized"

[tool.pylint.messages_control]
disable = """
    missing-function-docstring,
    invalid-name,
    too-many-arguments,
    too-many-locals,
    too-many-statements,
    too-many-instance-attributes,
"""

[tool.pylint.similarities]
min-similarity-lines = 8

[tool.pydocstyle]
match_dir = "[^(?!tests|\\.)].*"     # not tests and not a folder that starts with a dot
match = "^(?!(__init__|setup)).*py$" # py files which do not start with __init__ or setup
convention = "numpy"

# Testing

[tool.pytest.ini_options]
required_plugins = ["pytest-cov"]
addopts = """
--color=yes \
--code-highlight=yes \
--verbose \
--junitxml=tests/reports/junit.xml \
--cov-report term-missing:skip-covered \
--cov-report=xml:tests/reports/coverage.xml \
--cov-report=html:tests/reports/htmlcov \
--cov=. -ra"""
minversion = "6.0"
testpaths = ["tests/"]

[tool.coverage.run]
omit = ["tests/*", "*/test_*.py", "*/__*__.py", "*_version.py"]
branch = true
data_file = "tests/.coverage"

[tool.coverage.report]
fail_under = 0
